
<div class="bodycontent">  
    <div class="container">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2 text">
            <section id="index-new-arrival" class="menubodytop">
  
              <header>
                <h2>NEW ARRIVALS</h2>
  
                <div class="nav-section-dark home">
                  <ul>
                    <li><a href="#" id="home-selector-mens" class="dropdown-title" data-id="mens" data-category-id="6">MEN'S</a></li>
                    <li><a href="#" id="home-selector-womens" class="dropdown-title" data-id="womens" data-category-id="9">WOMEN'S</a></li>
                    <li><a href="#" id="home-selector-kids" class="dropdown-title" data-id="kids" data-category-id="542">KIDS'</a></li>
                    <li><a href="#" id="home-selector-apparel" class="dropdown-title" data-id="apparel" data-category-id="123">APPAREL</a></li>
                    <li><a href="#" id="home-selector-gear" class="dropdown-title" data-id="gear" data-category-id="75">GEAR</a></li>
                  </ul>
                </div>
              </header>
            </section>
          </div>
        </div>
      </div>
      <div class="container">
    <div class="col-md-3">
      <div id="make-3D-space">
        <div id="product-card">
          <div id="product-front">
            <img  src="http://image.sneakerhead.com/is/image/sneakerhead/cat-single?$sn20-175x132$&$img=sneakerhead/air-jordan-5-retro-basketball-136027051-1"
              alt="" />
            <div class="title_product">
              <div>
                  <span class="product_name">sdfsfsv dsdasdasd</span>
             
              </div>
              <span class="product_price">$39</span>
              <div id="view_details">QUICK BUY</div>
              <div class="stats">
                <div class="stats-container">
                  <p>Men's running shirt</p>
                  <div class="product-options">
                    <strong>SIZES</strong>
                    <span>XS, S, M, L, XL, XXL</span>
                    <strong>COLORS</strong>
                    <div class="colors">
                      <div class="c-blue"><span></span></div>
                      <div class="c-red"><span></span></div>
                      <div class="c-white"><span></span></div>
                      <div class="c-green"><span></span></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="col-md-3">
      <div id="make-3D-space">
        <div id="product-card">
          <div id="product-front">
            <img src="http://image.sneakerhead.com/is/image/sneakerhead/cat-single?$sn20-175x132$&$img=sneakerhead/nike-jordan-8-retro-basketball-305381014-1"
              alt="" />
            <div class="title_product">
              <span class="product_price">$39</span>
              <span class="product_name">Adidas Originals</span>
              <div id="view_details">QUICK BUY</div>
              <div class="stats">
                <div class="stats-container">
                  <p>Men's running shirt</p>

                  <div class="product-options">
                    <strong>SIZES</strong>
                    <span>XS, S, M, L, XL, XXL</span>
                    <strong>COLORS</strong>
                    <div class="colors">
                      <div class="c-blue"><span></span></div>
                      <div class="c-red"><span></span></div>
                      <div class="c-white"><span></span></div>
                      <div class="c-green"><span></span></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="col-md-3">
      <div id="make-3D-space">
        <div id="product-card">
          <div id="product-front">
            <img src="http://image.sneakerhead.com/is/image/sneakerhead/cat-single?$sn20-175x132$&$img=sneakerhead/nike-jordan-8-retro-basketball-305381014-1"
              alt="" />
            <div class="title_product">
              <span class="product_price">$39</span>
              <span class="product_name">Adidas Originals</span>
              <div id="view_details">QUICK BUY</div>
              <div class="stats">
                <div class="stats-container">
                  <p>Men's running shirt</p>

                  <div class="product-options">
                    <strong>SIZES</strong>
                    <span>XS, S, M, L, XL, XXL</span>
                    <strong>COLORS</strong>
                    <div class="colors">
                      <div class="c-blue"><span></span></div>
                      <div class="c-red"><span></span></div>
                      <div class="c-white"><span></span></div>
                      <div class="c-green"><span></span></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="col-md-3">
      <div id="make-3D-space">
        <div id="product-card">
          <div id="product-front">
            <img src="http://image.sneakerhead.com/is/image/sneakerhead/cat-single?$sn20-175x132$&$img=sneakerhead/nike-jordan-8-retro-basketball-305381014-1"
              alt="" />
            <div class="title_product">
              <span class="product_price">$39</span>
              <span class="product_name">Adidas Originals</span>
              <div id="view_details">QUICK BUY</div>
              <div class="stats">
                <div class="stats-container">
                  <p>Men's running shirt</p>

                  <div class="product-options">
                    <strong>SIZES</strong>
                    <span>XS, S, M, L, XL, XXL</span>
                    <strong>COLORS</strong>
                    <div class="colors">
                      <div class="c-blue"><span></span></div>
                      <div class="c-red"><span></span></div>
                      <div class="c-white"><span></span></div>
                      <div class="c-green"><span></span></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="col-md-3">
      <div id="make-3D-space">
        <div id="product-card">
          <div id="product-front">
            <img src="http://image.sneakerhead.com/is/image/sneakerhead/cat-single?$sn20-175x132$&$img=sneakerhead/nike-jordan-8-retro-basketball-305381014-1"
              alt="" />
            <div class="title_product">
              <span class="product_price">$39</span>
              <span class="product_name">Adidas Originals</span>
              <div id="view_details">QUICK BUY</div>
              <div class="stats">
                <div class="stats-container">
                  <p>Men's running shirt</p>

                  <div class="product-options">
                    <strong>SIZES</strong>
                    <span>XS, S, M, L, XL, XXL</span>
                    <strong>COLORS</strong>
                    <div class="colors">
                      <div class="c-blue"><span></span></div>
                      <div class="c-red"><span></span></div>
                      <div class="c-white"><span></span></div>
                      <div class="c-green"><span></span></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="col-md-3">
      <div id="make-3D-space">
        <div id="product-card">
          <div id="product-front">
            <img src="http://image.sneakerhead.com/is/image/sneakerhead/cat-single?$sn20-175x132$&$img=sneakerhead/nike-jordan-8-retro-basketball-305381014-1"
              alt="" />
            <div class="title_product">
              <span class="product_price">$39</span>
              <span class="product_name">Adidas Originals</span>
              <div id="view_details">QUICK BUY</div>
              <div class="stats">
                <div class="stats-container">
                  <p>Men's running shirt</p>

                  <div class="product-options">
                    <strong>SIZES</strong>
                    <span>XS, S, M, L, XL, XXL</span>
                    <strong>COLORS</strong>
                    <div class="colors">
                      <div class="c-blue"><span></span></div>
                      <div class="c-red"><span></span></div>
                      <div class="c-white"><span></span></div>
                      <div class="c-green"><span></span></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
        <div id="make-3D-space">
          <div id="product-card">
            <div id="product-front">
              <img src="http://image.sneakerhead.com/is/image/sneakerhead/cat-single?$sn20-175x132$&$img=sneakerhead/nike-jordan-8-retro-basketball-305381014-1"
                alt="" />
              <div class="title_product">
                <span class="product_price">$39</span>
                <span class="product_name">Adidas Originals</span>
                <div id="view_details">QUICK BUY</div>
                <div class="stats">
                  <div class="stats-container">
                    <p>Men's running shirt</p>
  
                    <div class="product-options">
                      <strong>SIZES</strong>
                      <span>XS, S, M, L, XL, XXL</span>
                      <strong>COLORS</strong>
                      <div class="colors">
                        <div class="c-blue"><span></span></div>
                        <div class="c-red"><span></span></div>
                        <div class="c-white"><span></span></div>
                        <div class="c-green"><span></span></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
          <div id="make-3D-space">
            <div id="product-card">
              <div id="product-front">
                <img src="http://image.sneakerhead.com/is/image/sneakerhead/cat-single?$sn20-175x132$&$img=sneakerhead/nike-jordan-8-retro-basketball-305381014-1"
                  alt="" />
                <div class="title_product">
                  <span class="product_price">$39</span>
                  <span class="product_name">Adidas Originals</span>
                  <div id="view_details">QUICK BUY</div>
                  <div class="stats">
                    <div class="stats-container">
                      <p>Men's running shirt</p>
    
                      <div class="product-options">
                        <strong>SIZES</strong>
                        <span>XS, S, M, L, XL, XXL</span>
                        <strong>COLORS</strong>
                        <div class="colors">
                          <div class="c-blue"><span></span></div>
                          <div class="c-red"><span></span></div>
                          <div class="c-white"><span></span></div>
                          <div class="c-green"><span></span></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
            <div id="make-3D-space">
              <div id="product-card">
                <div id="product-front">
                  <img src="http://image.sneakerhead.com/is/image/sneakerhead/cat-single?$sn20-175x132$&$img=sneakerhead/nike-jordan-8-retro-basketball-305381014-1"
                    alt="" />
                  <div class="title_product">
                    <span class="product_price">$39</span>
                    <span class="product_name">Adidas Originals</span>
                    <div id="view_details">QUICK BUY</div>
                    <div class="stats">
                      <div class="stats-container">
                        <p>Men's running shirt</p>
      
                        <div class="product-options">
                          <strong>SIZES</strong>
                          <span>XS, S, M, L, XL, XXL</span>
                          <strong>COLORS</strong>
                          <div class="colors">
                            <div class="c-blue"><span></span></div>
                            <div class="c-red"><span></span></div>
                            <div class="c-white"><span></span></div>
                            <div class="c-green"><span></span></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
              <div id="make-3D-space">
                <div id="product-card">
                  <div id="product-front">
                    <img src="http://image.sneakerhead.com/is/image/sneakerhead/cat-single?$sn20-175x132$&$img=sneakerhead/nike-jordan-8-retro-basketball-305381014-1"
                      alt="" />
                    <div class="title_product">
                      <span class="product_price">$39</span>
                      <span class="product_name">Adidas Originals</span>
                      <div id="view_details">QUICK BUY</div>
                      <div class="stats">
                        <div class="stats-container">
                          <p>Men's running shirt</p>
        
                          <div class="product-options">
                            <strong>SIZES</strong>
                            <span>XS, S, M, L, XL, XXL</span>
                            <strong>COLORS</strong>
                            <div class="colors">
                              <div class="c-blue"><span></span></div>
                              <div class="c-red"><span></span></div>
                              <div class="c-white"><span></span></div>
                              <div class="c-green"><span></span></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3">
                <div id="make-3D-space">
                  <div id="product-card">
                    <div id="product-front">
                      <img src="http://image.sneakerhead.com/is/image/sneakerhead/cat-single?$sn20-175x132$&$img=sneakerhead/nike-jordan-8-retro-basketball-305381014-1"
                        alt="" />
                      <div class="title_product">
                        <span class="product_price">$39</span>
                        <span class="product_name">Adidas Originals</span>
                        <div id="view_details">QUICK BUY</div>
                        <div class="stats">
                          <div class="stats-container">
                            <p>Men's running shirt</p>
          
                            <div class="product-options">
                              <strong>SIZES</strong>
                              <span>XS, S, M, L, XL, XXL</span>
                              <strong>COLORS</strong>
                              <div class="colors">
                                <div class="c-blue"><span></span></div>
                                <div class="c-red"><span></span></div>
                                <div class="c-white"><span></span></div>
                                <div class="c-green"><span></span></div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

    </div>
</div>


<section class="social">
    <div>
      <h1>SOCIAL</h1>
    </div>
    <div>
      <a href="#"><img src="../assets/images/social/blog.jpg"></a>
      <a href="#"><img src="../assets/images/social/fb.jpg"></a>
      <a href="#"><img src="../assets/images/social/ig.jpg"></a>
      <a href="#"><img src="../assets/images/social/twiter.jpg"></a>
    </div>
  </section>