<div id="detail-display-bg" class="all-width">
    <div id="detail-display-wrapper" class="clearfix responsive-mid">				
  <div id="detail-gallery-wrapper">
    <div id="detail-display-img-wrapper">
      <img class="primary-img" attr.data-zoom-image="https://drive.google.com/uc?id={{product.leftimagezoom}}"/>
    </div>
    <!-- <img class="primary-img" data-zoom-image="http://image.sneakerhead.com/is/image/sneakerhead/snusa-detail_20_zoom?$2356$&$img=sneakerhead/air-jordan-retro-1-basketball-555088100-1" /> -->
  <!--hiển thị lhình ảnh và zoom lên-->
    <div id="detail-display-icon">
      <ul>
        <li class="image-thumb selected visible" id="image-thumb-1"
          attr.data-primary="https://drive.google.com/uc?id={{product.leftimage}}"
          attr.data-zoom="https://drive.google.com/uc?id={{product.leftimagezoom}}">
          <img src="https://drive.google.com/uc?id={{product.leftimage}}" alt="">
        </li>
    
        <li	class="image-thumb selected visible" id="image-thumb-2"
        attr.data-primary="https://drive.google.com/uc?id={{product.underimage}}"
        attr.data-zoom="https://drive.google.com/uc?id={{product.underimagezoom}}">
          <img src="https://drive.google.com/uc?id={{product.underimage}}"/>
        </li>
        <li	class="image-thumb selected visible" id="image-thumb-3"
        attr.data-primary="https://drive.google.com/uc?id={{product.behindimage}}"
        attr.data-zoom="https://drive.google.com/uc?id={{product.behindimagezoom}}">
          <img src="https://drive.google.com/uc?id={{product.behindimage}}" />
        </li>
      </ul>
    </div>
    
  <!--end -->
    
  </div>
  <div id="detail-display-info-wrapper">
    
    <div class="detail-display-info-section default">
        <h2>{{product.nameproduct}}</h2>         
      <p class="detail-price">
      <span class="price">${{product.price}}</span>					
      <!-- <span class="strokeText"><span class="price">$160.00</span></span> -->
      </p>
      <!-- <ul class="detail-additional-info">
        <li>Style: 555088-100</li>
        <li>White / Black-White</li>
      </ul> -->
      <p class="detail-description excerpt">
        <!-- Simply put, the Air Jordan 1 is the sneaker that started it all. Michael Jordan's first signature model was released in 1985, and is the only Air Jord<span class="excerpt-extended">...</span><span class="detail-description content">an model that sports a Nike Swoosh. The Air Jordan 1 violated the NBA's uniform policy, which led to Jordan being fined $5,000 a game, and became a topic of a popular Nike commercial. The Air Jordan 1 is still popular today, and has been released in more colorways than any other Air Jordan model.</span>
        <span class="detail-description-readmore read">Read More</span>
       -->
       {{product.description}}
      </p>
    </div>
  
              
  <div class="detail-display-info-section default">
          
    <ul id="detail-all-color" class="clearfix">
      <li>
        <input type="radio" id="detail-color-select-1" name="color-select-1" checked>
          <label for="detail-color-select-1">
            <img src="http://image.sneakerhead.com/is/image/sneakerhead/snusa-square-20?$sn20-60$&$img=sneakerhead/air-jordan-retro-1-basketball-555088100-1" alt="Air Jordan 1 Retro OG (Perforated)">
          </label>
      </li>																				
      <li>
        <input type="radio" id="detail-color-select-2" name="color-select-1">
          <label class="thumb-link" for="detail-color-select-2">
            <a href="">
            <img src="http://image.sneakerhead.com/is/image/sneakerhead/snusa-square-20?$sn20-60$&$img=sneakerhead/air-jordan-retro-1-basketball-555088114-1" alt="Air Jordan 1 Retro OG">
            </a>
          </label>
       </li>
       <li>
        <input type="radio" id="detail-color-select-3" name="color-select-1">
          <label class="thumb-link" for="detail-color-select-3">
            <a href="">
            <img src="http://image.sneakerhead.com/is/image/sneakerhead/snusa-square-20?$sn20-60$&$img=sneakerhead/air-jordan-retro-1-basketball-555088022-1" alt="Air Jordan 1 Retro OG">
            </a>
          </label>
      </li>
        <li>
          <input type="radio" id="detail-color-select-4" name="color-select-1">
          <label class="thumb-link" for="detail-color-select-4">
            <a href="">
            <img src="http://image.sneakerhead.com/is/image/sneakerhead/snusa-square-20?$sn20-60$&$img=sneakerhead/air-jordan-retro-1-basketball-555088103-1" alt="Air Jordan 1 Retro OG">
            </a>
            </label>
        </li>
    </ul>
  </div>
  
  <form action="" method="post" name="product_addtocart_form" id="product_addtocart_form">
  
  <div class="detail-display-info-section default sizes">
                    
  <div id="size-selection">        
    <br/>
    <p>Size Charts</p>
    <ul id="detail-all-size" class="clearfix">
      <li>
        <input type="radio"  class="detail-size-select" name="size-select" id="detail-size-select-3032" value="3032">
        <label  for="detail-size-select-3032"><span class="single">6.5</span></label>
      </li>
      <li>
        <input type="radio" disabled class="detail-size-select" name="size-select" id="detail-size-select-3031" value="3031">
        <label class="disabled" for="detail-size-select-3031"><span class="single">{{product.size}}</span></label>
      </li>
      <li>
        <input type="radio" disabled class="detail-size-select" name="size-select" id="detail-size-select-3030" value="3030">
        <label class="disabled" for="detail-size-select-3030"><span class="single">7.5</span></label>
      </li>
      <li>
        <input type="radio" disabled class="detail-size-select" name="size-select" id="detail-size-select-3029" value="3029">
        <label class="disabled" for="detail-size-select-3029"><span class="single">8</span></label>
      </li>
      <li>
        <input type="radio" disabled class="detail-size-select" name="size-select" id="detail-size-select-3028" value="3028">
        <label class="disabled" for="detail-size-select-3028"><span class="single">8.5</span></label>
      </li>
      <li>
        <input type="radio" disabled class="detail-size-select" name="size-select" id="detail-size-select-3027" value="3027">
        <label class="disabled" for="detail-size-select-3027"><span class="single">9</span></label>
      </li>
          
    </ul>
  </div>
  
  </div>
  
    <ul class="detail-additional-info last">
  
      <li>*LIMIT 1 PAIR PER CUSTOMER.</li>				
      <li>Tax: $0.00 *excludes CA residents.</li>							
      <li>FREE SHIPPING &amp; FREE RETURN ELIGIBLE.</li>
      <li>*Excluded From Discount, Promo &amp; Reward Points</li>
    </ul>
      <div class="detail-display-info-section detail-display-bag default">
        <button class="button-yellow" type="submit">ADD TO BAG</button>
      </div>
  </form>			
  </div>
  </div>
  </div>