/* general demo style */
@font-face {
	font-family: UTMAmerikaSans;
    src: url(../fonts/UTMAmerikaSans.ttf);
}
@font-face {
	font-family: UTMHelvetIns;
    src: url(../fonts/UTM_HelvetIns.ttf);
}
@font-face {
	font-family: UTMAptima;
    src: url(../fonts/UTMAptima.ttf);
}
@font-face {
	font-family: UTMAptimaBold;
    src: url(../fonts/UTMAptimaBold.ttf);
}
@font-face {
	font-family: UTMDaxMedium;
    src: url(../fonts/UTMDaxMedium.ttf);
}
@font-face {
	font-family: UTMDax;
    src: url(../fonts/UTMDaxBold.ttf);
}
@font-face {
	font-family: UTMDaxBold;
    src: url(../fonts/UTMDaxBold.ttf);
}
@font-face {
	font-family: 'FontAwesome';
	src: url('../fonts/FontAwesome.eot?v=4.7.0');	font-weight: normal;
	font-style: normal;
  }
/* reset */
*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* clearfix hack by nicolas gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

a {
	color: #f0f0f0;
	text-decoration: none;
}

a:hover {
	color: #000;
}


/* menu1 */
/***** top menu *****/

.navbar {
	background:rgba(0,0,0,1);
	border-bottom:0.1em solid #282828;
	box-shadow:0 0.1em 0.5em rgba(0,0,0,.3);
	-moz-box-shadow:0 0.1px 0.5em rgba(0,0,0,.3);
	-webkit-box-shadow:0 0.1em 0.5em rgba(0,0,0,.3);
	width:100%;
	z-index:9999;
	height:8em;
}

.navbar-toggle {
	margin-top: 2em;
	margin-bottom: 2em;
}

.titleheader > div{
	font-weight: 700;
	padding: 5em 16em;
	color: #000;
	font-size:2em;
	display: inline-block;
	text-decoration: none;
}
/*menu*/
img {
	width: 100%;
	height: auto;
}
.responsive-img {
	display: block;
	max-width: 100%;

}


.cbp-hrsub h4 {
	color: #afdefa;
	margin: 0;
	font-size: 160%;
	font-weight: 300;
}
.slider img {
	width:100%;
	height:48em;
}
.social > div {
	text-align:center
}
.social > div h1 {
	font-family: "UTMHelvetIns";
	padding: 1em;
	font-size:3.2em;
	color:#fff;
	text-shadow:1px 4px 5px rgba(0,0,0,.8)
}
.social > li{
	margin: 0 10% 0;
}
.social > div img {
	width: 17%;
	height: 75%;
	margin: 1em 1em 1em;
	box-shadow:0 0.5em 0.5em rgba(0,0,0,1);
	-moz-box-shadow:0em 0.5em 0.5em rgba(0,0,0,.3);
	-webkit-box-shadow:0.5em 0.5em 1em rgba(0,0,1,5);
}

.menubodytop h2{
	font-family: "UTMHelvetIns";
	font-size:3em;
	color:#fff;
	padding:1.5em 0 0.1em;
	text-shadow:1px 2px 5px rgba(0,0,0,.8)
}
.menubodytop ul{
	font-family: "arial";
	font-size:1.1em;
	color:#fff;
	padding:0.2em 0em 0;
}
	.menubodytop p{
		font-family: "UTMAmerikaSans";
		text-transform: none;
		font-size:0.8em;
		color:#fff;
		padding:0.3em;
		float: left;
	}
	.nav-section-dark{
		border-top:0.1px solid #3d3d3d;
		border-bottom:0.1px solid #3d3d3d;
		padding:0.3em;
		margin:0 auto;
		font-size:1.3em;
		text-transform:uppercase;width:auto;
	}
	.nav-section-dark li{
		display:inline-block
	}
	.nav-section-dark li a{
		text-decoration: none;
		display:block;
		padding:0 0.4em
	}
	.nav-section-dark li a:hover {
		color: #f3ac00;
	}
	.section-white{
		padding:0;
		background:#fff;
		text-align:center
	}
	.section-grey{
		background:#f0f0f0;
		padding:65px 0 50px;
		text-align:center
	}
	.section-category{
		margin:0 0 15px;
		width:1300px;
		display:table-cell
	}
	.page-title{
		margin:0;
		font-size:30px;
		line-height:1
	}
	.search-title-keyword{
		text-transform:none;
		color:#f3ac00;
		font-weight:400
	}
	.btn-remove3,
	.dropdown-icon-info-title,
	.dropdown-icon-title,
	.dropdown-title,
	.nav-side,
	a.btn-remove2,
	li.footer-master-title{
		text-transform:uppercase
	}
	.cat-product-number{
		font-family:oswald,arial,helvetica,sans-serif;
		color:#c8c8c8;
		font-size:18px;
		font-weight:400;
		margin:10px 0 0
	}


	.footer-distributed{
		height: 30em;
		background:url(../images/bg-wood.jpg) #000;
		box-shadow:0 -8px 30px rgba(0,0,0,.5);
		-moz-box-shadow:0 -8px 30px rgba(0,0,0,.5);
		-webkit-box-shadow:0 -8px 30px rgba(0,0,0,.5);
		position:relative;
		-moz-box-shadow:0em 0.5em 0.5em rgba(0,0,0,.3);
		-webkit-box-shadow:0.5em 0.5em 5em rgba(0,0,1,5);
		padding:60px 0 0;
		overflow:hidden;
		width:100%;
		margin:0 auto
	}
	.footer-membership{
		background:url(../images/logo-plus-large.png) 0 0/205px 35px no-repeat rgba(0,0,0,0);
		width:205px;
		height:35px;
		display:inline-block;
		margin:15px 0
	}
	#footer-master-content{
		text-align:center;
		padding:60px 0 0;
		overflow:hidden;
		width:100%;
		margin:0 auto
	}
	.all-width{
		width:100%;
		min-width:20%
	}
	.clearfix:after,
	.clearfix:before{
		content:" ";
		display:table
	}
	#footer-trust-block{display:block;margin:20px auto 100px;text-align:left;width:900px}
	#footer-trust-block img.accepted-cards{width:300px;height:48px}
	#bbblink{margin-left:50px}
	#bbblink img{width:105px;height:40px}
	.nav-footer-master{
		display:inline-block;
		padding:0 15px;
		vertical-align:top;
		text-align:left;
		margin:0 -2px
	}
	.nav-footer-master:first-child{
		padding:0 15px 0 0
	}
	.nav-footer-master:last-child{
		padding:0 0 0 15px
	}
	.nav-footer-master li{
		list-style: none;
		padding:3px 0;
		color:#BBB
	}
	.nav-footer-master li a{
		color:#BBB;
		transition:all .2s ease-in-out!important;
		-webkit-transition:all .2s ease-in-out!important;
		-moz-transition:all .2s ease-in-out!important;
		-o-transition:all .2s ease-in-out!important;
		-ms-transition:all .2s ease-in-out!important
	}
	li.footer-master-title{
		font-size:18px;
		margin:0 0 10px;
		color:#FFF;
		font-family:Oswald,Arial,Helvetica,sans-serif
		}#master-footer-copyright{
			width:100%;
			text-align:center;
			padding:1em 0;
			background:rgba(0,0,0,.4);
			border-top:1px solid rgba(255,255,255,.05);
			margin:0;
			font-size:15px;
			position:absolute;
			bottom:0
		}
		a.footer-social{
			display:inline-block;
			width:45px;
			line-height:45px;
			font-family:snicon;
			font-size:22px;
			background:grey;
			border-radius:50%;
			text-align:center;
			margin:0 5px 10px 0}
			#footer-chat a:before,
			#footer-email a:before,
			#footer-tel:before{
				margin:0 8px 0 0;
				font-family:snicon;
				display:inline-block;
				vertical-align:middle
			}
			a#footer-twitter:before{
				content:"\e615";
				color:#FFF
			}
			a#footer-instagram:before{
				content:"\e614";
				color:#FFF
			}
			a#footer-facebook:before{
				content:"\e613";
				color:#FFF
			}
			a.footer-social:hover{
				background-color:#F3AC00;
				color:#FFF
			}
			.footer-contact{
				font-size:15px}
				#footer-tel:before{
					font-size:18px;
					content:"\e603"
				}
				#footer-email a:before{
					font-size:15px;
					content:"\e602"
				}
				#footer-chat a:before{
					font-size:18px
				}
				#footer-master-copyright{background:rgba(0,0,0,.3);
					text-align:center;
					padding:12px 0;
					font-size:16px;
					color:grey;
					bottom:0;
					border-top:1px solid rgba(255,255,255,.08);
					margin:0
				}
				#footer-master-copyright a:before{
					font-family:snicon;
					font-size:1em;
					padding:0.5em;
					margin:0 0.2em 0 0;
					border-radius:50%;
					content:"\e617";
					background:#DC4A36;
					color:#FFF;
					vertical-align:middle
				}
				.nav-footer-master li a:hover{
					color:#F3AC00
				}
				.blog-detail-share a,
				.site-map-share li a,
				a.footer-social{
					background-color:grey;
					color:#FFF;
					transition:all .2s ease-in-out!important;
					-webkit-transition:all .2s ease-in-out!important;
					-moz-transition:all .2s ease-in-out!important;
					-o-transition:all .2s ease-in-out!important;
					-ms-transition:all .2s ease-in-out!important
				}
				.blog-detail-share a:hover,
				.site-map-share li a:hover,
				a.footer-social:hover{
					background-color:#F3AC00;
					color:#FFF
				}

				/* If you don't want the footer to be responsive, remove these media queries */

				@media (max-width: 880px) {

					.footer-distributed{
						font: bold 14px sans-serif;
					}

					.footer-distributed .footer-left,
					.footer-distributed .footer-center,
					.footer-distributed .footer-right{
						display: block;
						width: 100%;
						margin-bottom: 40px;
						text-align: center;
					}

					.footer-distributed .footer-center i{
						margin-left: 0;
					}

				}
				#space-register{
					position: relative;
					transform-style: preserve-3d;
					transition: transform 5s;
				}
				#space-register.animate{
					margin: 1em 1em 1em 1em;
					background:#313131;
					box-shadow:0 2em 0.9em rgba(0,0,0,1);
					-moz-box-shadow:0 2em 0.5em rgba(0,0,0,.3);
					-webkit-box-shadow:0 1em 3em rgba(0,0,1,5);
					-webkit-transition:  100ms ease-out; 
					-moz-transition:  100ms ease-out; 
					-o-transition:  100ms ease-out; 
					transition:  100ms ease-out; 
				}
				#space-register.animate> h3{
					font-size:1.5em;
					padding: 0.5em;
					text-align: center;
					vertical-align:middle
				}
				#space-register.animate #register-conten{
					padding: 1em;
				}
				#space-login{
					position: relative;
					transform-style: preserve-3d;
					transition: transform 5s;
				}
				#space-login.animate{
					background:#313131;
					position: static;
					box-shadow:0 2em 0.9em rgba(0,0,0,1);
					-moz-box-shadow:0 2em 0.5em rgba(0,0,0,.3);
					-webkit-box-shadow:0 1em 3em rgba(0,0,1,5);
					-webkit-transition:  1000ms ease-out; 
					-moz-transition:  1000ms ease-out; 
					-o-transition:  1000ms ease-out; 
					transition:  1000ms ease-out; 
				}
				#space-login.animate> h3{
					font-size:1.5em;
					padding: 0.5em;
					text-align: center;
					vertical-align:middle
				}
				#space-login.animate #login-conten{
					padding: 1em;
				}
				#register-button-style h3{
					font-family:snicon;
					font-size:1.5em;
					vertical-align:middle
				}
				#register-button-style :hover{
					background-color: #e29200;
				}
				#register-button-style :disabled{
					color:#000;
					background-color: #A4FA33;
				}

				#login-button-style h3{
					font-family:snicon;
					font-size:1.5em;
					vertical-align:middle
				}
				#login-button-style :hover{
					background-color: #FF9900;
				}
				#login-button-style :disabled{
					color:#FFFFFF;
					background-color: #FA3333;
				}
				#register-detail-font{
					font-size: 80%;
					text-transform: none;
				}
				/* examples for media queries */
				@media screen and (max-width: 100em) { 
					img {
						width: 80%;
						height: auto;
					}
					.topheader {
						font-size: 85%;
					}
				}
				@media screen and (max-width: 70em) { 
					img {
						width: 80%;
						height: auto;
					}
					.social > item img {
						width: 15%;
						height: 60%;
					}
					.topheader {
						font-size: 80%;
					}
					@media screen and (max-width: 60em) { 
						img {
							width: 70%;
							height: auto;
						}
						.topheader {
							font-size: 85%;
						}
					}
					@media screen and (max-width: 50em) { 
						.social > item{
							margin: 0 5% 0;
						}
						.topheader {
							font-size: 95%;
							border: none;
						}

						.topheader > ul,
						.topheader .cbp-hrsub-inner {
							max-width: 100%;
							width: 100%;
							padding: 0;
							margin: 0 auto;
							background: #282828;
						}

						.topheader .cbp-hrsub-inner {
							padding: 0 2em;
							font-size: 75%;
						}

						.topheader > ul > li {
							display: block;
							border-bottom: 0.2em solid #282828;
						}

						.topheader > ul > li > a { 
							display: block;
							padding: 1em 3em;
						}

						.topheader .cbp-hrsub { 
							position: relative;
						}
						.cbp-hrsub h4 {
							padding-top: 0.6em;
						}


						.menu-container {
							width: 100%;
						}
						.menu-container .menuright .menu-mobile{
							list-style: none;
							color: #FFFFFF;
							display: block;
						}
						.menu-container .menuright .menu-mobile:hover{
							color: #f3ac00;
						}
						.menu-dropdown-icon:before {
							display: block;
						}
						.menu > ul {
							display: none;
							background: #282828;
						}
						.menu > ul > li {
							width: 100%;
							float: none;
							display: block;
							list-style: none;
						}
						
						.menu > ul > li a {
							padding: 1.5em;
							width: 100%;
							display: block;
						}
						.menu > ul > li > ul {
							position: relative;
						}
						.menu > ul > li > ul.normal-sub {
							width: 100%;
						}
						.menu > ul > li > ul > li {
							float: none;
							width: 100%;
							margin-top: 20px;
						}
						.menu > ul > li > ul > li:first-child {
							margin: 0;
						}
						.menu > ul > li > ul > li > ul {
							position: relative;
						}
						.menu > ul > li > ul > li > ul > li {
							float: none;
						}
						.menu .show-on-mobile {
							display: block;
						}

					}


					


					@media screen and (max-width: 36em) { 
						.topheader .cbp-hrsub-inner > div {
							width: 100%;
							float: none;
							padding: 0 2em;
							margin: 0 auto;
							background: #282828;
						}
					}
				}