<!-- Sidebar -->
<div id="sidebar">
    
            <!-- Logo -->
              <h1 id="adlogo"><a href="#">ADMINISTRATOR</a></h1>
            <!-- Nav -->
              <nav id="nav">
                <ul>
                  <li><a routerLink='/adhome'><span class="glyphicon glyphicon-th-list"></span>Dashboard</a></li>
                  <li><a routerLink='/products'><span class="glyphicon glyphicon-th-list"></span>Catalogs</a></li>
                  <li><a href="#"><span class="glyphicon glyphicon-th-list"></span>Products</a></li>
                  <li><a href="#"><span class="glyphicon glyphicon-th-list"></span>Promotions</a></li>
                  <li><a href="#"><span class="glyphicon glyphicon-th-list"></span>Sales</a></li>
                  <li><a href="#"><span class="glyphicon glyphicon-th-list"></span>Acounts</a></li>
                  <li><a href="#"><span class="glyphicon glyphicon-cog"></span>Settings</a></li>
                  <li><a href="#"><span class="glyphicon glyphicon-th-list"></span>Reports</a></li>
                </ul>
              </nav>
    
            <!-- Search -->
              <section class="box search">
                <form method="post" action="#">
                  <input type="text" class="text"   class="form-control" name="search" placeholder="Search" />
                </form>
              </section>
            <!-- Copyright -->
              <ul id="copyright">
                <li>&copy; Untitled.</li><li>Design: <a href="#">TTA</a></li>
              </ul>
    
          </div>