<div class="menu-container">
	<div class="logo">
		<a href="#"><img src="assets/images/logo.png"></a>
	</div>
	<div class="menuright">
			<li>
					<a routerLink='/'>
						<div class="menu-mobile">
							MORE
						</div>
					</a>
				</li>
				<li>
					<a routerLink='/add'>ADD</a>
				</li>
		<li>
			<a routerLink='/login'>LOGIN</a>
		</li>
		<li>
			<a routerLink='/acount'>ACOUNT</a>
		</li>
		<li><a routerLink='/register'>REGISTER</a></li>
	</div>
	<div class="menu">
		<ul>
			<li><a href="#">NEW ARRIVALS</a></li>
			<li><a href="#">NEW</a>
				<ul>
					<li><a href="#">NEW ARRICALS</a>
						<ul>
							<li><a href="#">Lidership</a></li>
							<li><a href="#">History</a></li>
							<li><a href="#">Locations</a></li>
							<li><a href="#">Careers</a></li>
						</ul>
					</li>
					<li><a href="#">WHAT HOST</a>
						<ul>
							<li><a href="#">Undergraduate</a></li>
							<li><a href="#">Masters</a></li>
							<li><a href="#">International</a></li>
							<li><a href="#">Online</a></li>
						</ul>
					</li>
					<li><a href="#">RESEARCH</a>
						<ul>
							<li><a href="#">Undergraduate research</a></li>
							<li><a href="#">Masters research</a></li>
							<li><a href="#">Funding</a></li>
						</ul>
					</li>
					<li><a href="#">SOMETHING</a>
						<ul>
							<li><a href="#">Sub something</a></li>
							<li><a href="#">Sub something</a></li>
							<li><a href="#">Sub something</a></li>
							<li><a href="#">Sub something</a></li>
						</ul>
					</li>
				</ul>
			</li>
			<li><a href="#">WOMEN'S</a>
				<ul>
					<li><a href="#">School</a>
						<ul>
							<li><a href="#">Lidership</a></li>
							<li><a href="#">History</a></li>
							<li><a href="#">Locations</a></li>
							<li><a href="#">Careers</a></li>
						</ul>
					</li>
					<li><a href="#">Study</a>
						<ul>
							<li><a href="#">Undergraduate</a></li>
							<li><a href="#">Masters</a></li>
							<li><a href="#">International</a></li>
							<li><a href="#">Online</a></li>
						</ul>
					</li>
					<li><a href="#">Study</a>
						<ul>
							<li><a href="#">Undergraduate</a></li>
							<li><a href="#">Masters</a></li>
							<li><a href="#">International</a></li>
							<li><a href="#">Online</a></li>
						</ul>
					</li>
					<li><a href="#">Empty sub</a></li>
				</ul>
			</li>
			<li><a href="#">KIDS</a></li>
			<li><a href="#">APPAREL</a></li>
			<li>
				<div class="sale"><a href="#">SALE</a></div>
			</li>
			<li><a href="#">BLOG</a></li>
		</ul>
	</div>
</div>
<div class="titleheader">
	<div> FREE SHIPPING & FREE RETURNS</div>
</div>
<!--slider-->
<div class="slider">
	<ul id="slider1">
		<li><a href="#slide1"><img src="../assets/images/sidebar/baner1.jpg" alt="This is caption 1 <a href='#link'>Even with links!</a>"></a>
		</li>
		<li><a href="#slide2"><img src="../assets/images/sidebar/baner2.jpg"  alt="This is caption 2"></a></li>
		<li><a href="#slide2"><img src="../assets/images/sidebar/baner3.jpg"  alt="This is caption 3"></a></li>
		<li><a href="#slide2"><img src="../assets/images/sidebar/baner4.jpg"  alt="This is caption 4"></a></li>
	</ul>
</div>